
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Yazar Kayıt Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-20/css/style.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />

</head>
<body class="img js-fullheight" style="background-image: url(/AdminLTE-3.0.4/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Mvc Proje Kampı Yazar Kayıt Oluşturma</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Bir Hesabınız Olacak!</h3>
                        @using (Html.BeginForm("WriterRegister", "Register", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input type="text" name="WriterName" class="form-control" placeholder="Adınız">
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterSurName" class="form-control" placeholder="Soyadınız">
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterAbout" class="form-control" placeholder="Hakkınızda">
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterTitle" class="form-control" placeholder="Unvanınız">
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterEmail" class="form-control" placeholder="E-Mail">
                            </div>
                            <div class="form-group">
                                <input id="password-field" name="WriterPassword" type="password" class="form-control" placeholder="*********">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                            </div>
                            <div class="form-group d-md-flex justify-content-center">

                                <div class="w-50 text-md-right">
                                    <a href="/Login/WriterLogin" style="color: #fff">Zaten Bir Hesabım Var</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    @ToastrHelper.ProcessToastrs()
</body>
</html>
