
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örnek</h3>
<br />
<table class="table">
    <thead>
    <tr>
        <th>Id Numarası</th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Durumu</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
